@model IEnumerable< Punim_Diplome.Models.OrderProduct>

<h2>Porositë e juaja</h2>


<table class="table">

    <thead>
        <tr>
            
            <th>Name</th>
            <th>Çmimi</th>
            <th>Image</th>
            <th>Data e porosisë</th>
            <th>Gjendja e porosis</th>
            
        </tr>

    </thead>
    <tbody>
        
                
            
        

        @foreach (var item in Model)
        {
                         <tr>
                <td>@item.Produkt.Name</td>


                <td>
                    @item.Produkt.Price.ToString("C")
                    
                </td>
                <td><img src="~/Produktet/@item.Produkt.ImageFileName" width="100" /> </td>

                <td>
                    @item.OrderDate
                </td>
                <td>
                    @item.OrderStatus
                </td>



                <td style="white-space: nowrap;">
                    <div class="d-flex flex-wrap gap-2">

                        <form asp-action="CancelOrder" asp-controller="Order" asp-route-id="@item.Id" method="post" class="m-0">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-danger btn-sm">Cancel Order</button>
                        </form>

                        <a asp-controller="Produkt" asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-success btn-sm">
                            Details
                        </a>

                    </div>
                </td>

            </tr>
        }
        
                
    </tbody>

</table> 