    @using Microsoft.AspNetCore.Identity
@model Punim_Diplome.Models.ProduktDetailsVM
@inject UserManager<IdentityUser> userManager

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<div class="container mt-5">
    <div class="row">
        <!-- Product Images -->
        <div class="col-md-6 mb-4">
            <img src="~/Produktet/@Model.Produkt?.ImageFileName" alt="@Model.Produkt.Name" class="img-fluid rounded mb-3 product-image" id="mainImage" >
    </div>

    <!-- Product Details -->
    <div class="col-md-6">
        <h2 class="mb-3">@Model.Produkt.Name</h2>
        <p class="text-muted mb-4">@Model.Produkt.Category</p>
        <div class="mb-3">
            <span class="h4 me-2">@Model.Produkt.Price.ToString("C")</span>

        </div>
        <div class="mb-3">

            <span class="ms-2">4.5 (120 reviews)</span>
        </div>
        <p class="mb-4">
            @Model.Produkt.Description
        </p>
        <div class="mb-4">

            <li>Procesori: <strong>@Model.Produkt.Procesor</strong></li>
        </div>
        <div class="mb-4">
            <label>Manufactured data:@Model.Produkt.Date </label>
        </div>


        @* Porosia e produktit *@
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Order" asp-action="OrderForm" asp-route-productId="@Model.Produkt.Id" class="btn btn-success"><i class="bi bi-heart">OrderNow</i></a>
           



        }
        else 
        {
            <p>Login to order</p>
        }


        <div class="mt-4">
            <h5>Key Features:</h5>
            <ul>
                <li>Ram:<strong>@Model.Produkt.Ram</strong></li>
                <li>Hapsira: <strong>@Model.Produkt.Storage @Model.Produkt.Storagetype</strong></li>
                <li>Screen inch:<strong>@Model.Produkt.ScreenInch</strong></li>


            </ul>
        </div>
    </div>
</div>


</div>
@* 
Comments region *@

<hr />
@if (Model.Koments?.Any() == true)
{
    <h3>Comments:</h3>
    <div class="mb-3" style="background-color:white">   
        <ul >
            @foreach (var koment in Model.Koments)
            {

            <li>
                <strong>@koment.User?.UserName:</strong> @koment.Content
            </li>

            @if (User.Identity.IsAuthenticated && koment.IdentityUserId == userManager.GetUserId(User))
            {


                <form method="post" asp-controller="Produkt" asp-action="DeleteComment">

                    <input type="hidden" name="commentId" value="@koment.Id" />

                    <button type="submit" class="btn btn-outline-danger">Delete</button>

                </form>
            
            }
       
        
     
        
    }
</ul>
</div>


}
else
{ <p>No comments yet.</p>
}
@if (User.Identity.IsAuthenticated)
{ <form asp-action="AddComment" asp-controller="Produkt" method="post"> <div class="Form" > <label for="Koment">Comment</label> <textarea id="Koment" name="Content" class="form-control"></textarea> </div> <input type="hidden" name="ProduktId" value="@Model.Produkt.Id" /> <button type="submit" class="btn btn-primary">Add Comment</button> </form>
}
else
{ <p>Login to add a comment</p>
}
